/*Default CSS*/
html {
    scroll-behavior: smooth;
}

:root {
    --global-color-primaryr: #5E3BEE;
    --global-color-secondary: #282938;
    --global-color-text: #1C1E53;
    --global-color-accent: #E62872;
    --global-color-bg: #F5FCFF;
    --global-color-border: #006B6A;
    --global-typography-primary-font-family: "Roboto", serif;
}
body {
    font-family: var(--global-typography-primary-font-family);
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--global-color-text);
}
h1{
    color: var(--global-color-secondary);
    font-family: var(--global-typography-primary-font-family);
    font-size: 74px;
    font-weight: 700;
    line-height: 1.2;
}
h2{
    color: var(--global-color-secondary);
    font-family: var(--global-typography-primary-font-family);
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
}
h3{
    color: var(--global-color-secondary);
    font-family: var(--global-typography-primary-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
}
h4{
    color: var(--global-color-secondary);
    font-family: var(--global-typography-primary-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}
h5{
    color: var(--global-color-secondary);
    font-family: var(--global-typography-primary-font-family);
    font-size: 21px;
    font-weight: 500;
    line-height: 1.5;
}

/* Header CSS */
header {
    padding: 1% 4%;
    box-shadow: 0px 10px 40px #0000000f;
}
.nav-item {
    margin: 0px 15px;
}
.nav-link{
    color: var(--global-color-text);
}
.navbar-nav .nav-link.active, .nav-link:hover {
    color: var(--global-color-primaryr);
}
.header-btn {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--global-color-primaryr);
    border: 2px solid var(--global-color-primaryr);
    border-radius: 5px;
    padding: 18px 30px;
}
.header-btn:hover {
    border-color: var(--global-color-text);
    color: var(--global-color-text);
}

/* Hero section CSS */
.hero-section{
    background-color: var(--global-color-bg);
    padding: 6% 4%;
}
.hero-btn {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: var(--global-color-primaryr);
    border-radius: 5px;
    padding: 18px 25px;
}
.hero-btn:hover{
    background-color: var(--global-color-border);
    color: #fff;
}

/* Expertise section CSS */
.expertise{
    padding: 7% 4%;
}
.expertise-text{
    margin-bottom: 107px;
}
.expertise .card {
    background-color: var(--global-color-bg);
    padding: 32px;
    border: none;
    border-bottom: 4px solid #fff !important;
    border-radius: 10px;
    border-color: #fff;
    transition: 0.5s;
}
.expertise .card:hover{
    border-color: var(--global-color-primaryr) !important;
}
.expertise .card img {
    width: 80px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #ddd;
    margin-bottom: 30px;
}


/* About Me Section */
.about-me{
    padding: 6% 4%;
}
.about-me img{
    width: 100%;
    padding-right: 40px;
}
.about-me-content{
    padding-left: 30px;
}

/* Portfolio Css*/
.portfolio{
    padding-top: 3%;
    padding-bottom: 7%;
    padding-left: 4%;
    padding-right: 4%;
}
.portfolio-content{
    margin-bottom: 107px;
}
.portfolio-btn{
    background-color: #E62872;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    padding: 21px;
    transition: 0.5s;
}
.portfolio-btn:hover{
    background-color: var(--global-color-primaryr);
    color: #fff;
}
.portfolio-btn img{
    width: 30px;
    margin-right: 15px;
}
.portfolio .card-body{
    padding: 32px;
}
.portfolio-item-btn {
    border-bottom: 2px solid var(--global-color-primaryr);
    border-radius: inherit;
    padding: 7px 0;
}
.portfolio-item-btn img {
    width: 15px;
    margin-left: 7px;
}

/* testimonials */
.testimonials{
    padding: 7% 4%;
    background-color: var(--global-color-bg);
}
.testimonials-heading{
    margin-bottom: 106px;
}
.testimonials .card{
    padding: 42px;
    background-color: transparent;
    border: 1.33px solid var(--global-color-border);
}
.card-img {
    width: 170px;
    margin-bottom: 42px;
  }
.review-person{
    margin-top: 42px;
}
.review-person img{
    width: 75px;
    height: 75px;
}

/* Contact Section CSS */
.contact{
    padding: 7% 4%;
}
.contact-text{
    margin-bottom: 60px;
}
.contact-form {
    width: 1024px;
    margin: auto;
}
.form-label{
    color: var(--global-color-secondary);
}
.form-check-label{
    font-size: 18px;
}
.name-field, .mailphone-field, .select-field, .messageaccept-field, .message{
    margin-bottom: 32px;
}
#exampleCheck1{
    padding: 10px !important;
}
input, select, textarea{
    padding: 17px !important;
    box-shadow: none !important;
}
.submit-btn{
    background-color: var(--global-color-primaryr);
    color: #fff;
    padding: 18px 54px;
}
.submit-btn:hover{
    background-color: var(--global-color-border);
    color: #fff;
}


/* Footer CSS */
footer{
    padding: 5% 4%;
    background-color: var(--global-color-bg);
}
.navbar-nav.m-auto.footer-menu{
    flex-direction: row;
    flex-wrap: wrap;
}
.social-icon i{
    font-size: 24px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.social-icon i:hover, .policy li:hover{
    color: var(--global-color-primaryr);
}
.made-with{
    font-size: 18px;
}
.policy li {
    cursor: pointer;
    display: inline-block;
    padding: 0px 10px;
    font-size: 18px;
}
